{
  "retry_join": ["{{ cluster_ips }}"],
  "client_addr": "127.0.0.1",
  "bind_addr": "{{ ansible_default_ipv4.address }}",
  "data_dir": "/usr/local/consul/data",
  "enable_script_checks": true,
  "disable_update_check": true
}
